div.item-field > label
{
}
div.item-field > input[type=checkbox]
{
    float: right;
    margin-right: 15%;
}
div.item-field
{
    float: left;
    width: 30%;
    line-height: 2;
}
div.item-field > span /* Mensagem de validação */
{
    display: block;
}
fieldset.item-avaliacao-line > div.item-field > select
{
    float: right;
    margin-right: 5%;
}
