@{
    ViewBag.Title = "Index";
}

<h2>Área administrativa</h2>

<h3>Relatórios</h3>
<ul>
    <li>@Html.ActionLink("Listagem de solicitações", "SolicitacoesList")</li>
    <li>@Html.ActionLink("Relatório de ações", "ActionReport")</li>
</ul>
